{{define "title"}}Home{{ end }}

{{define "main"}}
{{if .Snippets}}
<p>Total: {{ len .Snippets }}</p>
{{ range.Snippets }}
<p>
  <a href="/snippets/{{.Id}}"
    >{{.Title}} - <time>{{humanDate .Created}}</time></a
  >
</p>

{{ end }}
{{else}}
<p>There are no snippets</p>
{{ end }}
{{ end }}
